
<div class="content pt-5 pb-3 mobile-pt-4">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-12">
                <h1 class="main-title mb-4">VEGETARIAN RECIPE DETAILS</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-12 mb-3 mobile-mt-0 mobile-mb-0">
                <div class="">
                    <div class="">
                        <div class="p-0">
                            <img src="assets/images/recipe/rajma.png" class="img-fluid">
                        </div>
                    </div>
                    <div class="row pb-2 mobile-pb-0 mobile-pt-4">
                        <div class="col-md-12 col-12 pt-3 ps-0 mobile-pt-0">
                            <ul class="list-style-none">
                                <li><a href="#" class="dropdown-item pe-3"><i class="fa fa-envelope share-list-i"></i></a> </li>
                                <li><a href="#" class="dropdown-item pe-3"><i class="fab fa-whatsapp share-list-i"></i></a> </li>
                                <li><a href="#" class="dropdown-item pe-3"><i class="fab fa-facebook-f share-list-i"></i></a> </li>
                                <li><a href="#" class="dropdown-item pe-3"><i class="fa fa-link share-list-i"></i></a> </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
            
             <div class="col-lg-7 col-md-7 col-sm-7 col-12 mt-1 mb-3 mobile-mt-0 mobile-mb-0">
                <div class="pt-5 ps-4 mobile-p-0">
                    <div class="">
                        <div class="recipe-details-title1 pt-2">Rajma</div>
                        <div class="recipe-details-discription1">Kidney Beans Curry</div>
                    </div>
                    <div class="pt-3 mobile-p-0">
                        <p>Rājmā, also known as rajmah, rāzmā, or lal lobia, is a vegetarian dish, originating from the Indian subcontinent, consisting of red kidney beans in a thick gravy with Indian whole spices, and is usually served with rice.</p>
                    </div>
                    <div class="row pb-2 mt-5 mobile-mt-0">
                        <div class="col-md-4 col-6 pt-1 ps-0 border-end">
                            <div class="row">
                                <div class="col-md-5 col-5">
                                    <span class="recipe-details-list1"><img src="assets/images/recipe/serve-people.png" class="recpe-icon-3"></span>
                                </div>
                                
                                <div class="col-md-7 col-7 pe-0">
                                    <div class="recipe-details-list1">Serve</div>
                                    <div class="recipe-details-list1">10 People</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-6 pt-1 mobile-pt-0">
                            <div class="row">
                                <div class="col-md-4 col-5">
                                    <span class="recipe-details-list1"><img src="assets/images/recipe/clock.png" class="recpe-icon-3"></span>
                                </div>
                                
                                <div class="col-md-7 col-7 pe-0">
                                    <div class="recipe-details-list1 pt-3">55 Min</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- <div class="row pb-2 mt-5">
                        <div class="col-md-5 col-12 pt-1 ps-0 mobile-pt-0">
                            <div class="row">
                                <div class="col-md-5 col-5 pe-3 mobile-ps-0">
                                    <div class="recipe-details-list1">Languages</div>
                                </div>
                                
                                <div class="col-md-7 col-7">
                                    <div class="recipe-details-list1">
                                        <select class="ps-2 pe-2 mobile-p0">
                                            <option>Select Language</option>
                                            <option>English</option>
                                            <option>Hindi</option>
                                            <option>Marahi</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div> -->
                </div>
            </div>
        </div>
        
        <div class="row pt-4">
            <div class="col-md-6 mx-auto">
                <div class="row">
                    <div class="col-md-3 col-12 mobile-text-center">
                        <div class="recipe-details-discription1 pt-4 mt-4 mobile-mt-0 mobile-pt-0">
                            <span>This</span><br>
                            <span>Recipe is</span><br>
                            <span>Prepared</span><br>
                            <span>with:</span><br>
                        </div>
                    </div>
                    <div class="col-md-9 text-center">
                        <div class="recipe-details-title2 pt-2">5 Liter Futura</div>
                        <div class="recipe-details-title2">
                            <img src="assets/images/recipe/futura.jpg" class="img-fluid">
                        </div>
                        <div class="pt-3 mobile-pt-4">
                            <a class="btn-slide-banner ps-4 pe-4 pt-2 pb-2">
                                <b>BUY NOW</b>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="row pt-4 mt-4 mobile-pt-0">
            <div class="col-md-12 pt-4 mobile-pt-0">
                <div class="row">
                    <div class="col-md-6  col-12">
                        <div class="recipe-details-discription1">
                            <div class="recipe-details-title2 pt-2">Ingrediants</div>
                            <p class="mb-0">1 x 2.5 cm piece / 10 g <b>ginger</b></p>
                            <p class="mb-0">12 small cloves <b>garlic</b></p>
                            <p class="mb-0">½ cup / 120 ml <b>vegetable oil</b></p>
                            <p class="mb-0"><b>3 whole dry Kashmiri red chillies</b></p>
                            <p class="mb-0">2 large / 300 g <b>onions (grated)</b></p>
                            <p class="mb-0">3 large / 450 g <b>tomatoes (chopped)</b></p>
                            <p class="mb-0">1 tbsp / 15 ml <b>red chilli powder</b></p>
                            <p class="mb-0">1 tbsp +2½ tsp / 27.5 ml <b>salt</b></p>
                            <p class="mb-0">2½ cups / 500 g <b>rajma (soaked overnight or in hot water for 2 hours and drained)</b></p>
                            <p class="mb-0">4¼ cups / 1 litre <b>water</b></p>
                            <p class="mb-0">1 tsp / 5 ml <b>garam masala powder</b></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 mobile-pt-4">
                        <div class="recipe-details-title2 pt-2 pb-3">Recipe</div>
                        <div class="pb-3">
                            <div class="recipe-details-title3">STEP 1/5</div>
                            <div>
                                <p>Grind together ginger and garlic into a paste</p>
                            </div>
                        </div>
                        
                        <div class="pb-3">
                            <div class="recipe-details-title3">STEP 2/5</div>
                            <div>
                                <p>Heat oil in cooker about 3 minutes. Add chillies. Stir a few seconds. Add onions and fry till golden brown. 
                        Add ginger-garlic paste. Stir a few seconds. Add tomatoes, chilli powder and salt. Cook till tomatoes are pulpy and oil shows separately (about 5 minutes), stirring occasionally. Add rajma and water. Mix.</p>
                            </div>
                        </div>
                        
                        <div>
                            <div class="recipe-details-title3">STEP 3/5</div>
                            <div>
                                <p>Close cooker. Bring to full pressure on high heat. Reduce heat and cook 20 minutes.</p>
                            </div>
                        </div>
                        
                        <div class="pb-3">
                            <div class="recipe-details-title3">STEP 4/5</div>
                            <div>
                                <p>Remove cooker from heat. Allow to cool naturally.</p>
                            </div>
                        </div>
                        
                        <div class="pb-3">
                            <div class="recipe-details-title3">STEP 5/5</div>
                            <div>
                                <p>Open cooker. Partially mash rajma with back of a ladle till gravy is creamy. Stir in garam masala powder. </p>
                            </div>
                        </div>
                        
                        <div class="pb-3">
                            <div>
                                <p><b>Serve hot.</b></p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="menubar1">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-12 col-md-12 pt-2 pb-2 pe-0 ps-0">
                                <div *ngIf="youMayAlsoLikeList.length>0" class="border-top">
                                    <h3 class="h5 pt-3">
                                        <strong>You May Also Like ({{youMayAlsoLikeListCount}})</strong>
                                    </h3>
                                    <div class="borde-top">
                                      <div class="">
                                        <ng-container *ngFor="let item of youMayAlsoLikeList">
                                            <ngx-highlight-banner [noofItems]="4" [item]="item"></ngx-highlight-banner>
                                        </ng-container>
                                      </div>
                                    </div>
                                </div>
                    </div>
                    <div class="col-12 col-md-12 pt-2 pb-2 pe-0 ps-0">
                        <div *ngIf="youMayAlsoLikeList.length>0" class="border-top">
                            <h3 class="h5 pt-3">
                                <strong>More Options ({{youMayAlsoLikeListCount}})</strong>
                            </h3>
                            <div class="borde-top">
                              <div class="">
                                <ng-container *ngFor="let item of youMayAlsoLikeList">
                                    <ngx-highlight-banner [noofItems]="4" [item]="item"></ngx-highlight-banner>
                                </ng-container>
                              </div>
                            </div>
                        </div>
            </div>
                </div>
            </div>
        
            </div>
    </div>
</div>
