<nb-card>
    <nb-card-header>
      Recipe
      <!-- <button type="button" (click)="goToAddProduct()" nbButton status="success" size="small" style="float:right">Add Product</button>
      <button type="submit" (click)="gotoExportPage()" nbButton status="info" size="small" class="mr-2" style="float:right">Export</button> -->
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table [settings]="cussettings">
        </ng2-smart-table>

       <!-- <table class="table">
        <thead>
            <th>Name</th>
            <th>Category</th>
            <th>Brand</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="https://cpimg.tistatic.com/04283115/b/4/18-Ltr-Hawkins-Bigboy-Pressure-Cooker.jpg" class="rounded-circle" alt="">
                    <div class="pl-3 name">Hawkins Bigboy 14 Litre Pressure Cooker (BB14)</div>
                </td>
                <td>Pressure Cooker >> Big Boy</td>
                <td>Futura</td>
            </tr>
            <tr>
                <td>
                    <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61jCe+nAaBS._SL1000_.jpg" class="rounded-circle" alt="">
                    <div class="pl-3 name">Hawkins Futura Deep-Fry Pan / Kadhai 2 Litre, Hard Anodised (AD20)</div>
                </td>
                <td>Cookware >> Deep-Fry Pans</td>
                <td>Hawkins</td>
            </tr>
            <tr>
                <td>
                    <img src="https://ii2.pepperfry.com/media/catalog/product/h/a/1100x1210/hawkins-classic-12l-pressure-cooker--cl12--hawkins-classic-12l-pressure-cooker--cl12--ubijqw.jpg" class="rounded-circle" alt="">
                    <div class="pl-3 name">Hawkins Classic 12 Litre Pressure Cooker (CL12)</div>
                </td>
                <td>Pressure Cooker >> Cooker</td>
                <td>Futura</td>
            </tr>
            <tr>
                <td>
                    <img src="https://rukminim1.flixcart.com/image/416/416/kr0ynbk0/pressure-cooker/k/o/y/no-ctr30-3l-ceramic-coated-hawkins-original-imag4wg3zzzp8xfw.jpeg?q=70" class="rounded-circle" alt="">
                    <div class="pl-3 name">Hawkins Ceramic-Coated Contura 3 Litre Pressure Cooker (CTR30)</div>
                </td>
                <td>Pressure Cooker >> Ceramic-Coated Contura</td>
                <td>Hawkins</td>
            </tr>
        </tbody>
       </table> -->
    </nb-card-body>
  </nb-card>