<ngx-search-text></ngx-search-text>
<div class="content pt-5 pb-3 sale-service-main">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div>
					<ul class="list-group">
						<li class="list-group-item active" aria-current="true"><a routerLink="/sales-service"
								class="text-dark text-decoration-none">Sales and Service</a> </li>
						<li class="list-group-item"><a routerLink="/product-part" class="text-dark text-decoration-none">Product Parts</a></li>
						<li class="list-group-item"><a routerLink="/authorised-dealers" class="text-dark text-decoration-none">Sales and Service: India, Nepal, Bhutan</a></li>
						<li class="list-group-item"><a routerLink="/rest-world" class="text-dark text-decoration-none">Rest of the World</a></li>
						<li class="list-group-item"><a routerLink="/yourself-repairs" class="text-dark text-decoration-none">Do-it-Yourself Repairs</a></li>
					</ul>
				</div>
				
			</div>

			<div class="col-md-9">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <h1 class="main-title">SALES AND SERVIES</h1>
                    </div>
        
                    <div class="col-md-6">
                        <div class="row d-flex align-items-center border pt-3 pb-2 mb-4">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/static/parts_main.jpg" class="img-fluid">
                            </div>
                            <div class="col-md-12 pt-3">
                                <h5><b>PARTS FOR VARIOUS PRODUCTS</b></h5>
                                <p>To find out more about the parts of your Pressure Cooker </p>
                                <p><a [routerLink]="['/product-part']" class="btn-link-list-page">Click here</a> </p>
                            </div>
                
                        </div>  
                        </div>
                        <div class="col-md-6">
                        <div class="row d-flex align-items-center border pt-3 pb-2 mb-4">
                            <div class="col-md-12 text-center">
                                <img src="assets/images/static/sale-services-main.jpg" class="img-fluid">
                            </div>
                            <div class="col-md-12 pt-3">
                                <h5><b>SALES AND SERVICE</b></h5>
                                <p><a [routerLink]="['/yourself-repairs']" >Do-it-yourself repairs</a></p>
                                <p>Locate a sales and service provider</p>
                                <p><a [routerLink]="['/authorised-dealers']" class="btn-link-list-page">India, Nepal, Bhutan</a> </p>
                                <p><a [routerLink]="['/rest-world']" class="btn-link-list-page">Rest of the World </a> </p>
                            </div>
                
                           
                        </div>
                </div>
            </div>

            </div>
            </div>
        </div>
        </div>




