<ngx-search-text></ngx-search-text>
<div class="content pt-5 pb-3">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-12 mb-3">
                <h1 class="main-title mb-3">JOBS</h1>
            </div>

            <div class="col-md-12">
                <div class="row mb-4">
                    <div class="col-md-12 border pt-4 pb-3">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-10">
                                <div>
                                    <h4>Management Trainees</h4>
                                    <p class="bg-light ps-2 pe-2 pt-1 pb-1"><b><i class="fa fa-circle-thin"></i>
                                            Remuneration Per Annum</b> | <b><i class="fa fa-circle-thin"></i> During
                                            Training Rs.9 Lakhs per annum</b> | <b> <i
                                                class="fa fa-circle-thin"></i> On Confirmation Rs.12 Lakhs per
                                            annum</b></p>

                                </div>
                                <div class="data-content">
                                    <p>Founded in 1959, Hawkins Cookers Ltd. is a professionally managed, public
                                        limited, listed Company. In 2022-23, Sales were Rs.1006 crores, and Profit
                                        After Tax was Rs.95 crores. Hawkins is the leader in Pressure Cookers and
                                        has diversified successfully into Cookware. Hawkins has offices in Mumbai
                                        and factories in Thane, Hoshiarpur in Punjab and Sathariya in Jaunpur
                                        district in Uttar Pradesh.</p>
                                </div>
                            </div>
                            <div class="col-md-2 col-12">
                                <div class="float-start">
                                    <button type="button"
                                        class="btn-slide text-center text-black width-auto pe-3 pt-2 width-auto pe-3 pt-2 border-0 mb-3"
                                        data-bs-toggle="modal" data-bs-target="#ManagementTrainees">
                                        <i class="fa fa-eye"></i> VIEW MORE
                                    </button>
                                </div>
                                <div class="desktop-mobile-view-mt1 float-start">
                                    <button type="button"
                                        class="btn-slide text-center text-black width-auto pe-3 pt-2 width-auto pe-3 pt-2 border-0 mb-3"
                                        data-bs-toggle="modal" data-bs-target="#ApllyNow">
                                        <i class="fa fa-eye"></i> APPLY NOW
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="row mb-4">
                    <div class="col-md-12 border pt-4 pb-3">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-10">
                                <div>
                                    <h4>Sales/Marketing</h4>
                                </div>
                                <div class="data-content">
                                    <p>May be posted in important towns in various parts of India. The job involves
                                        travelling intensively, managing dealers and modern retail, and achieving
                                        sales targets with incentives. May have the opportunity, based on
                                        performance, to attend Foreign Conferences. After some Sales experience,
                                        based upon suitability, some candidates may be moved to Marketing. In
                                        marketing the roles may involve Market Research, Digital Marketing, Creating
                                        Videos, Development of Showrooms, Brand and Product management, Packaging
                                        and Communication Design.</p>
                                </div>
                            </div>
                            <div class="col-md-2 col-12">
                                <div class="float-start">
                                    <button type="button"
                                        class="btn-slide text-center text-black width-auto pe-3 pt-2 width-auto pe-3 pt-2 border-0 mb-3"
                                        data-bs-toggle="modal" data-bs-target="#SalesMarketing">
                                        <i class="fa fa-eye"></i> VIEW MORE
                                    </button>
                                </div>
                                <div class="desktop-mobile-view-mt1 float-start">
                                    <button type="button"
                                        class="btn-slide text-center text-black width-auto pe-3 pt-2 width-auto pe-3 pt-2 border-0 mb-3"
                                        data-bs-toggle="modal" data-bs-target="#ApllyNow">
                                        <i class="fa fa-eye"></i> APPLY NOW
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="row mb-4">
                    <div class="col-md-12 border pt-4 pb-3">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-10">
                                <div>
                                    <h4>Technical/ Engineering</h4>
                                </div>
                                <div class="data-content">
                                    <p>Diploma holders, Engineering Graduates and Postgraduates needed in
                                        Mechanical, Electrical, Civil, Tool Design and Manufacture, Process
                                        Engineering and Machine Design, Product Design, Industrial Engineering,
                                        Supply Chain, Material Science or Robotics.</p>

                                </div>
                            </div>
                            <div class="col-md-2 col-12">
                                <div class="float-start">
                                    <button type="button"
                                        class="btn-slide text-center text-black width-auto pe-3 pt-2 width-auto pe-3 pt-2 border-0 mb-3"
                                        data-bs-toggle="modal" data-bs-target="#TechnicalEngineering">
                                        <i class="fa fa-eye"></i> VIEW MORE
                                    </button>
                                </div>
                                <div class="desktop-mobile-view-mt1 float-start">
                                    <button type="button"
                                        class="btn-slide text-center text-black width-auto pe-3 pt-2 width-auto pe-3 pt-2 border-0 mb-3"
                                        data-bs-toggle="modal" data-bs-target="#ApllyNow">
                                        <i class="fa fa-eye"></i> APPLY NOW
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="row mb-4">
                    <div class="col-md-12 border pt-4 pb-3">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-10">
                                <div>
                                    <h4>Accounts</h4>
                                </div>
                                <div class="data-content">
                                    <p>We are looking for a good knowledge of Accounts, Direct and Indirect
                                        Taxation, control aspects of accounting, Audit and Reconciliation. Hawkins
                                        runs its own accounting IT systems. A challenging and exciting part of this
                                        job will be that you can design reports and systems and are not limited to
                                        running an existing legacy software. A good understanding of accounting
                                        standards and the ability to deal with internal and external auditors is
                                        required. May be posted at any of the factories or offices. Cost and
                                        Chartered Accounts may start higher.</p>
                                </div>
                            </div>
                            <div class="col-md-2 col-12">
                                <div class="float-start">
                                    <button type="button"
                                        class="btn-slide text-center text-black width-auto pe-3 pt-2 width-auto pe-3 pt-2 border-0 mb-3"
                                        data-bs-toggle="modal" data-bs-target="#Accounts">
                                        <i class="fa fa-eye"></i> VIEW MORE
                                    </button>
                                </div>
                                <div class="desktop-mobile-view-mt1 float-start">
                                    <button type="button"
                                        class="btn-slide text-center text-black width-auto pe-3 pt-2 width-auto pe-3 pt-2 border-0 mb-3"
                                        data-bs-toggle="modal" data-bs-target="#ApllyNow">
                                        <i class="fa fa-eye"></i> APPLY NOW
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="row mb-4">
                    <div class="col-md-12 border pt-4 pb-3">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-10">
                                <div>
                                    <h4>Commercial</h4>
                                </div>
                                <div class="data-content">
                                    <p>The Role Involves the Commercial activities of the Company such as managing
                                        stores – where the job is to check and receive incoming material for quality
                                        and quantity as per the invoices, purchase orders; timely issue of material
                                        as per the requisitions of the manufacturing departments; maintain stocks as
                                        per the Company’s inventory policy; review physical quantities periodically
                                        and advise required actions such for procurement of short items / disposal
                                        of obsolete material; timely selling of scrap at best possible prices.</p>

                                </div>
                            </div>
                            <div class="col-md-2 col-12">
                                <div class="float-start">
                                    <button type="button"
                                        class="btn-slide text-center text-black width-auto pe-3 pt-2 width-auto pe-3 pt-2 border-0 mb-3"
                                        data-bs-toggle="modal" data-bs-target="#Commercial">
                                        <i class="fa fa-eye"></i> VIEW MORE
                                    </button>
                                </div>
                                <div class="desktop-mobile-view-mt1 float-start">
                                    <button type="button"
                                        class="btn-slide text-center text-black width-auto pe-3 pt-2 width-auto pe-3 pt-2 border-0 mb-3"
                                        data-bs-toggle="modal" data-bs-target="#ApllyNow">
                                        <i class="fa fa-eye"></i> APPLY NOW
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="row mb-4">
                    <div class="col-md-12 border pt-4 pb-3">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-10">
                                <div>
                                    <h4>Human Resources</h4>
                                </div>
                                <div class="data-content">
                                    <p>The Role Involves: Identifying the needs of the business and finding the
                                        right people, yearly appraisals, career planning, induction and training,
                                        recruitment and termination, negotiations with unions, giving feedback to
                                        senior management.</p>

                                </div>
                            </div>
                            <div class="col-md-2 col-12">
                                <div class="float-start">
                                    <button type="button"
                                        class="btn-slide text-center text-black width-auto pe-3 pt-2 width-auto pe-3 pt-2 border-0 mb-3"
                                        data-bs-toggle="modal" data-bs-target="#HumanResources">
                                        <i class="fa fa-eye"></i> VIEW MORE
                                    </button>
                                </div>
                                <div class="desktop-mobile-view-mt1 float-start">
                                    <button type="button"
                                        class="btn-slide text-center text-black width-auto pe-3 pt-2 width-auto pe-3 pt-2 border-0 mb-3"
                                        data-bs-toggle="modal" data-bs-target="#ApllyNow">
                                        <i class="fa fa-eye"></i> APPLY NOW
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="row mb-4">
                    <div class="col-md-12 border pt-4 pb-3">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-10">
                                <div>
                                    <h4>IT Programmers</h4>
                                </div>
                                <div class="data-content">
                                    <p>Good practical knowledge of one or more of the following needed – C++, C#,
                                        SQL, Java, ASP.Net, HTML/CSS, XML, Python, Android, DART, the Apple
                                        environment, React Native, Tableau and Power BI. Apply only if you like
                                        coding, solving real life problems. The job involves designing reports,
                                        designing and implementing automation, and assisting all types of business
                                        departments with the needed IT. Data Science & Analytics applied to real
                                        consumer and customer data with GIS mapping are also skills we are looking
                                        for. In Hawkins the IT Department mostly does not use third party software
                                        for ERP, CRM and you can get extensive exposure in developing systems.</p>
                                </div>
                            </div>
                            <div class="col-md-2 col-12">
                                <div class="float-start">
                                    <button type="button"
                                        class="btn-slide text-center text-black width-auto pe-3 pt-2 width-auto pe-3 pt-2 border-0 mb-3"
                                        data-bs-toggle="modal" data-bs-target="#ITProgrammers">
                                        <i class="fa fa-eye"></i> VIEW MORE
                                    </button>
                                </div>
                                <div class="desktop-mobile-view-mt1 float-start">
                                    <button type="button"
                                        class="btn-slide text-center text-black width-auto pe-3 pt-2 width-auto pe-3 pt-2 border-0 mb-3"
                                        data-bs-toggle="modal" data-bs-target="#ApllyNow">
                                        <i class="fa fa-eye"></i> APPLY NOW
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="row mb-4">
                    <div class="col-md-12 border pt-4 pb-3">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-10">
                                <div>
                                    <h4>Legal</h4>
                                </div>
                                <div class="data-content">
                                    <p>Advise the Company on legal matters, monitor and ensure legal compliances,
                                        brief counsel and organise action to avoid or support litigation as needed.
                                        Action to protect the intellectual property of the Company such as Trade
                                        Mark, Copy Rights, Designs and Patents are important. There are also
                                        occasions where action needs to be taken against spurious parts and
                                        products. A good understanding of Labour Law – as we run three factories –
                                        will be useful. An opportunity to deal with wide ranging facets of law and
                                        compliance including Labour law, Company law, Commercial law, Packaged
                                        commodities, international contracts, dealing with Government regulations
                                        are all part of this job.</p>

                                </div>
                            </div>
                            <div class="col-md-2 col-12">
                                <div class="float-start">
                                    <button type="button"
                                        class="btn-slide text-center text-black width-auto pe-3 pt-2 width-auto pe-3 pt-2 border-0 mb-3"
                                        data-bs-toggle="modal" data-bs-target="#Legal">
                                        <i class="fa fa-eye"></i> VIEW MORE
                                    </button>
                                </div>
                                <div class="desktop-mobile-view-mt1 float-start">
                                    <button type="button"
                                        class="btn-slide text-center text-black width-auto pe-3 pt-2 width-auto pe-3 pt-2 border-0 mb-3"
                                        data-bs-toggle="modal" data-bs-target="#ApllyNow">
                                        <i class="fa fa-eye"></i> APPLY NOW
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12 border pt-4 pb-3">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-10">
                                <div>
                                    <h4>Executive Assistants</h4>
                                </div>
                                <div class="data-content">
                                    <p>Bright, computer-literate graduates in any discipline, either freshers or
                                        with few years of relevant experience, are needed to work with Senior
                                        Managers, providing all-round help in various matters. Will get exposure to
                                        multiple facets of the business. Fluency in word-processing and ability to
                                        understand instructions and implementation bias is essential. Based upon the
                                        interests of the candidates and the requirement of the Company, such
                                        assistants may be moved to line management roles in various departments
                                        after a couple of years.</p>
                                </div>
                            </div>
                            <div class="col-md-2 col-12">
                                <div class="float-start">
                                    <button type="button"
                                        class="btn-slide text-center text-black width-auto pe-3 pt-2 width-auto pe-3 pt-2 border-0 mb-3"
                                        data-bs-toggle="modal" data-bs-target="#ExecutiveAssistants">
                                        <i class="fa fa-eye"></i> VIEW MORE
                                    </button>
                                </div>
                                <div class="desktop-mobile-view-mt1 float-start">
                                    <button type="button"
                                        class="btn-slide text-center text-black width-auto pe-3 pt-2 width-auto pe-3 pt-2 border-0 mb-3"
                                        data-bs-toggle="modal" data-bs-target="#ApllyNow">
                                        <i class="fa fa-eye"></i> APPLY NOW
                                    </button>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>
</div>






<div class="modal fade Modal-Popup" id="ApllyNow" tabindex="-1" role="dialog" aria-labelledby="ApllyNowLongTitle"
aria-hidden="true">
<div class="modal-dialog modal-xl mt-5" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">ONLINE APPLICATION FORM</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body pt-4">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label> Job Applied for:</label>
                    <select class="form-control text-control-form select-form">
                        <option>Job Select</option>
                        <option>Management Trainees</option>
                        <option>Sales/Marketing</option>
                        <option>Technical/ Engineering</option>
                        <option>Accounts</option>
                        <option>Commercial</option>
                        <option>Human Resources</option>
                        <option>IT Programmers</option>
                        <option>Legal</option>
                        <option>Executive Assistants</option>
                    </select>
                </div>

                <div class="col-md-3 mb-3">
                    <label>First Name</label>
                    <input type="text" class="form-control text-control-form">
                </div>

                <div class="col-md-3 mb-3">
                    <label>Middle Name</label>
                    <input type="text" class="form-control text-control-form">
                </div>

                <div class="col-md-3 mb-3">
                    <label>Last Name</label>
                    <input type="text" class="form-control text-control-form">
                </div>

                <div class="col-md-3 mb-3">
                    <label>Date of Birth</label>
                    <input type="date" class="form-control text-control-form">
                </div>

                <div class="col-md-3 mb-3">
                    <label>Mobile No</label>
                    <input type="text" class="form-control text-control-form">
                </div>

                <div class="col-md-3 mb-3">
                    <label>Email ID</label>
                    <input type="text" class="form-control text-control-form">
                </div>

                <div class="col-md-3 mb-3">
                    <label>State</label>
                    <select class="form-control text-control-form select-form">
                        <option value="--Select--">--Select--</option>
                        <option value="ANADAMAN &amp; NICOBAR  ">ANADAMAN &amp; NICOBAR </option>
                        <option value="ANDHRA PRADESH      ">ANDHRA PRADESH </option>
                        <option value="ARUNACHAL PRADESH   ">ARUNACHAL PRADESH </option>
                        <option value="ASSAM               ">ASSAM </option>
                        <option value="BIHAR               ">BIHAR </option>
                        <option value="CHANDIGARH          ">CHANDIGARH </option>
                        <option value="CHHATTISGARH        ">CHHATTISGARH </option>
                        <option value="DADRA &amp; NAGAR HAVELI">DADRA &amp; NAGAR HAVELI</option>
                        <option value="DELHI               ">DELHI </option>
                        <option value="GOA                 ">GOA </option>
                        <option value="GUJARAT             ">GUJARAT </option>
                        <option value="HARYANA             ">HARYANA </option>
                        <option value="HIMACHAL PRADESH    ">HIMACHAL PRADESH </option>
                        <option value="JAMMU &amp; KASHMIR     ">JAMMU &amp; KASHMIR </option>
                        <option value="JHARKHAND           ">JHARKHAND </option>
                        <option value="KARNATAKA           ">KARNATAKA </option>
                        <option value="KERALA              ">KERALA </option>
                        <option value="LAKSHADWEEP         ">LAKSHADWEEP </option>
                        <option value="MADHYA PRADESH      ">MADHYA PRADESH </option>
                        <option value="MAHARASHTRA         ">MAHARASHTRA </option>
                        <option value="MANIPUR             ">MANIPUR </option>
                        <option value="MEGHALAYA           ">MEGHALAYA </option>
                        <option value="MIZORAM             ">MIZORAM </option>
                        <option value="NAGALAND            ">NAGALAND </option>
                        <option value="ODISHA              ">ODISHA </option>
                        <option value="PUDUCHERRY          ">PUDUCHERRY </option>
                        <option value="PUNJAB              ">PUNJAB </option>
                        <option value="RAJASTHAN           ">RAJASTHAN </option>
                        <option value="SIKKIM              ">SIKKIM </option>
                        <option value="TAMILNADU           ">TAMILNADU </option>
                        <option value="TELANGANA           ">TELANGANA </option>
                        <option value="TRIPURA             ">TRIPURA </option>
                        <option value="UTTAR PRADESH       ">UTTAR PRADESH </option>
                        <option value="UTTARAKHAND         ">UTTARAKHAND </option>
                        <option value="WEST BENGAL         ">WEST BENGAL </option>
                        <option value="LADAKH">LADAKH</option>

                    </select>
                </div>


                <div class="col-md-3 mb-3">
                    <label>City/town</label>
                    <input type="text" class="form-control text-control-form">
                </div>

                <div class="col-md-3 mb-3">
                    <label>Employment Status</label>
                    <select class="form-control text-control-form select-form">
                        <option value="--Select--">--Select--</option>
                        <option value="Finishing Diploma">Finishing Diploma</option>
                        <option value="Finishing Graduation">Finishing Graduation</option>
                        <option value="Finishing Post-Graduation">Finishing Post-Graduation</option>
                        <option value="Diploma holder">Diploma holder</option>
                        <option value="Graduate">Graduate</option>
                        <option value="Post-Graduate">Post-Graduate</option>
                    </select>
                </div>

                <div class="col-md-3 mb-3">
                    <label>Your Qualifications</label>
                    <select class="form-control text-control-form select-form">
                        <option value="--Select--">--Select--</option>
                        <option value="Finishing Diploma">Finishing Diploma</option>
                        <option value="Finishing Graduation">Finishing Graduation</option>
                        <option value="Finishing Post-Graduation">Finishing Post-Graduation</option>
                        <option value="Diploma holder">Diploma holder</option>
                        <option value="Graduate">Graduate</option>
                        <option value="Post-Graduate">Post-Graduate</option>
                    </select>
                </div>


                <div class="col-md-12 mb-4">
                    <label>Languages known</label>
                    <div class="CheckboxArea small">
                        <label class="label-checkinput"><input type="checkbox" class="form-check-input">
                            Hindi</label>
                        <label class="label-checkinput"><input type="checkbox" class="form-check-input">
                            Bengali</label>
                        <label class="label-checkinput"><input type="checkbox" class="form-check-input">
                            Gujarati</label>
                        <label class="label-checkinput"><input type="checkbox" class="form-check-input">
                            Tamil</label>
                        <label class="label-checkinput"><input type="checkbox" class="form-check-input">
                            English</label>
                        <label class="label-checkinput"><input type="checkbox" class="form-check-input">
                            Oriya</label>
                        <label class="label-checkinput"><input type="checkbox" class="form-check-input">
                            Punjabi</label>
                        <label class="label-checkinput"><input type="checkbox" class="form-check-input">
                            Kannada</label>
                        <label class="label-checkinput"><input type="checkbox" class="form-check-input">
                            Assamese</label>
                        <label class="label-checkinput"><input type="checkbox" class="form-check-input">
                            Marathi</label>
                        <label class="label-checkinput"><input type="checkbox" class="form-check-input">
                            Malayalam</label>
                        <label class="label-checkinput"><input type="checkbox" class="form-check-input">
                            Telugu</label>
                    </div>
                </div>


                <div class="col-md-12 mb-2">
                    <label><b>Where did you find out about this job Posting?</b></label>
                </div>

                <div class="col-md-3 mb-3">
                    <label>In a newspaper ad</label>
                    <div class="CheckboxArea small">
                        <label class="label-checkinput"><input type="radio" class="form-check-input"
                                name="name"> Yes</label>
                        <label class="label-checkinput"><input type="radio" class="form-check-input"
                                name="name"> No</label>
                    </div>
                    <div class="desktop-mobile-view-mt1 float-start">
                        <input type="text" class="form-control text-control-form"
                            placeholder="If yes, which newspaper?">
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <label>On a website/Social Media</label>
                    <div class="CheckboxArea small">
                        <label class="label-checkinput"><input type="radio" class="form-check-input"
                                name="name"> Yes</label>
                        <label class="label-checkinput"><input type="radio" class="form-check-input"
                                name="name"> No</label>
                    </div>
                    <div class="desktop-mobile-view-mt1 float-start">
                        <input type="text" class="form-control text-control-form"
                            placeholder="If yes, which newspaper?">
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <label>From a friend/family member</label>
                    <div class="CheckboxArea small">
                        <label class="label-checkinput"><input type="radio" class="form-check-input"
                                name="name"> Yes</label>
                        <label class="label-checkinput"><input type="radio" class="form-check-input"
                                name="name"> No</label>
                    </div>
                    <div class="desktop-mobile-view-mt1 float-start">
                        <input type="text" class="form-control text-control-form"
                            placeholder="If yes, which newspaper?">
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <label>Any Other</label>
                    <div class="CheckboxArea small">
                        <label class="label-checkinput"><input type="radio" class="form-check-input"
                                name="name"> Yes</label>
                        <label class="label-checkinput"><input type="radio" class="form-check-input"
                                name="name"> No</label>
                    </div>
                    <div class="desktop-mobile-view-mt1 float-start">
                        <input type="text" class="form-control text-control-form"
                            placeholder="If yes, which newspaper?">
                    </div>
                </div>

                <div class="col-md-12 mb-3">
                    <label>Upload your Bio Data</label>
                    <p class="mb-1 small">Maximum file upload size is 10MB. After choosing the file, click on
                        Upload. You can upload multiple files.</p>
                    <div class="col-md-4">
                        <input type="file" class="form-control text-control-form">
                    </div>
                </div>

                <div class="col-md-12 mb-3">
                    <label>Upload handwritten note “Reasons why I am interested in joining Hawkins”</label>
                    <p class="mb-1 small">Write a note of about 200 words in your own handwriting on paper in
                        English. After writing, take a picture or scan and then upload pdf or jpeg. After
                        choosing the file, click on Upload. You can upload multiple files. Maximum file upload
                        size is 10MB.</p>
                    <div class="col-md-4">
                        <input type="file" class="form-control text-control-form">
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <label>Now verify your mobile number</label>
                    <div>
                        <button class="btn btn-primary btn-sm">Resend OTP</button>
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <label>Enter OTP</label>
                    <input type="text" class="form-control text-control-form">
                </div>

                <div class="col-md-3 mb-3">
                    <label>Register for updates on WhatsApp</label>
                    <div class="CheckboxArea small pt-2">
                        <label class="label-checkinput"><input type="radio" class="form-check-input"
                                name="name"> Yes</label>
                        <label class="label-checkinput"><input type="radio" class="form-check-input"
                                name="name"> No</label>
                    </div>
                </div>

                <div class="col-md-12 mb-3 text-center mt-3">
                    <button class="btn btn-success ps-4 pe-4 pt-2 pb-2">Apply Application</button>
                </div>


            </div>
        </div>
        <div class="modal-footer justify-content-start">
            <p class="text-start"><b>PLEASE READ THE FOLLOWING INSTRUCTIONS BEFORE SUBMISSION:</b></p>
            <p class="small">The candidates who qualify the written test will be invited to go through a group
                discussion, and individual interview with top management at Mumbai. The candidates selected for
                appointment will have to go through a medical examination. We shall reimburse return III Tier AC
                Train fare (shortest route) for GD, Interview and Medical at Mumbai.</p>
            <ul class="list-style small">
                <li>Your application (which may be typed), duly signed, should specify the job you are
                    interested in and give full details of age, education and experience, if any.</li>

                <li>Ensure that all details are correct, especially your contact number and email ID. We will
                    inform you whether you are selected for the next round or not, via these details only.
                    Please note that we may send you information either by WhatsApp/SMS or email or both.</li>

                <li>You must enclose a handwritten note (about 200 words) in English in your own handwriting on
                    “Reasons why I am interested in joining Hawkins”.</li>

                <li>You may apply online following the instructions herein, or you may apply in confidence to
                    Senior Vice President Personnel, Hawkins Cookers Limited, Maker Tower F 101, Cuffe Parade,
                    Mumbai 400 005, mentioning the job applied for on the envelope.</li>

                <li>If you have sent a physical application, you don't need to fill out the online application
                    form.</li>

                <li>One person should upload one application only. Answer all questions. If you are facing
                    difficulties while applying online, please try after sometime.</li>

                <li>Make sure you have followed all the instructions given herein above.</li>
            </ul>
        </div>
    </div>
</div>
</div>


<div class="modal fade Modal-Popup" id="ManagementTrainees" tabindex="-1" role="dialog"
aria-labelledby="ManagementTraineesLongTitle" aria-hidden="true">
<div class="modal-dialog modal-xl mt-5" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Management Trainees</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body">
            <div class="">
                <div>
                    <p class="bg-warning ps-2 pe-2 pt-1 pb-1"><b><i class="fa fa-circle-thin"></i> Remuneration
                            Per Annum</b> | <b><i class="fa fa-circle-thin"></i> During Training Rs.9 Lakhs per
                            annum</b> | <b> <i class="fa fa-circle-thin"></i> On Confirmation Rs.12 Lakhs per
                            annum</b></p>

                </div>
                <div class="data-content">
                    <p>Founded in 1959, Hawkins Cookers Ltd. is a professionally managed, public limited, listed
                        Company. In 2022-23, Sales were Rs.1006 crores, and Profit After Tax was Rs.95 crores.
                        Hawkins is the leader in Pressure Cookers and has diversified successfully into
                        Cookware. Hawkins has offices in Mumbai and factories in Thane, Hoshiarpur in Punjab and
                        Sathariya in Jaunpur district in Uttar Pradesh.</p>
                    <p> Hawkins is known for its fair policies and ethical practices. Hawkins emphasises
                        incentive payment by results and selection and promotion purely on merit. Hawkins has a
                        well-established Management Training Program which leads to jobs in the Management cadre
                        in 18 months. Trainees who successfully complete training are confirmed with an
                        appropriate increase in salary and benefits. Fresh Graduates may apply. <b>Persons with
                            relevant experience may start higher.</b></p>

                    <p>Candidates should be 21 to 28 years of age. Applications (which may be typed), duly
                        signed, giving full details of age, education, mobile number and experience, if any,
                        should be accompanied by a note (about 200 words) in English in the candidate’s own
                        handwriting on “Reasons why I am interested in joining Hawkins”.</p>
                    <p>The application may either be uploaded on the link given below the job description or
                        sent by post/ courier to Senior VP Personnel, Hawkins Cookers Limited, Maker Tower F
                        101, Cuffe Parade, Mumbai 400 005, mentioning the job applied for on the envelope.</p>
                    <p> The selection process shall consist of screening of applications and written tests at
                        various centres all over India. Candidates shortlisted thereafter shall be called for a
                        Group Discussion and Final Interview in Mumbai for which return rail fares shall be
                        paid. Apply promptly.
                    </p>
                    <p><b>Management Trainee Positions are available in</b></p>

                    <ul>
                        <li style="background: #fff;">Sales/Marketing</li>
                        <li style="background: #fff;">Technical/Engineering</li>
                        <li style="background: #fff;">Accounts</li>
                        <li style="background: #fff;">Commercial </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>
</div>




<div class="modal fade Modal-Popup" id="SalesMarketing" tabindex="-1" role="dialog"
aria-labelledby="SalesMarketingLongTitle" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Sales/Marketing </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body">
            <div class="">
                <div class="data-content">
                    <p>May be posted in important towns in various parts of India. The job involves travelling
                        intensively, managing dealers and modern retail, and achieving sales targets with
                        incentives. May have the opportunity, based on performance, to attend Foreign
                        Conferences. After some Sales experience, based upon suitability, some candidates may be
                        moved to Marketing. In marketing the roles may involve Market Research, Digital
                        Marketing, Creating Videos, Development of Showrooms, Brand and Product management,
                        Packaging and Communication Design.</p>
                </div>
            </div>
        </div>

    </div>
</div>
</div>


<div class="modal fade Modal-Popup" id="TechnicalEngineering" tabindex="-1" role="dialog"
aria-labelledby="TechnicalEngineeringLongTitle" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Technical/ Engineering</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body">
            <div class="">
                <div class="data-content">
                    <p>Diploma holders, Engineering Graduates and Postgraduates needed in Mechanical,
                        Electrical, Civil, Tool Design and Manufacture, Process Engineering and Machine Design,
                        Product Design, Industrial Engineering, Supply Chain, Material Science or Robotics.</p>
                    <p>The jobs may involve roles in Quality in Quality improvement, problem solving, setting of
                        standards, testing and quality control. Knowledge of statistical quality control
                        techniques, root cause analysis, quality circles, quality and process documents,
                        testing-destructive and non-destructive, leading quality improvement projects. In
                        Automation the jobs may involve making special-purpose machines, robotic lines, pick and
                        place set ups, Manufacturing 4.0, Poka-yoke, Kaizen and other interventions, small or
                        big, that improve the product and reduce costs. In Supply Chain the jobs involve
                        procurement of raw materials like aluminium, stainless steel, and paper, semi-finished
                        and finished components, electrical and electronic components, vendor development and
                        purchase of finished goods in case of bought-out items.</p>
                    <p>Hawkins makes all its products in India. Jobs in manufacturing will involve running a
                        press shop, machine shop, or anodising shop, or assembly shops, leading teams of workers
                        to produce high quality products.</p>
                </div>
            </div>
        </div>

    </div>
</div>
</div>


<div class="modal fade Modal-Popup" id="Accounts" tabindex="-1" role="dialog" aria-labelledby="AccountsLongTitle"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Accounts</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body">
            <div class="">
                <div class="data-content">
                    <p>We are looking for a good knowledge of Accounts, Direct and Indirect Taxation, control
                        aspects of accounting, Audit and Reconciliation. Hawkins runs its own accounting IT
                        systems. A challenging and exciting part of this job will be that you can design reports
                        and systems and are not limited to running an existing legacy software. A good
                        understanding of accounting standards and the ability to deal with internal and external
                        auditors is required. May be posted at any of the factories or offices. Cost and
                        Chartered Accounts may start higher.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
</div>



<div class="modal fade Modal-Popup" id="Commercial" tabindex="-1" role="dialog"
aria-labelledby="CommercialLongTitle" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Commercial</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body">
            <div class="">
                <div class="data-content">
                    <p>The Role Involves the Commercial activities of the Company such as managing stores –
                        where the job is to check and receive incoming material for quality and quantity as per
                        the invoices, purchase orders; timely issue of material as per the requisitions of the
                        manufacturing departments; maintain stocks as per the Company’s inventory policy; review
                        physical quantities periodically and advise required actions such for procurement of
                        short items / disposal of obsolete material; timely selling of scrap at best possible
                        prices. </p>
                    <p>Jobs in Despatch involve management of Warehouse and Finished Goods Godown, receipt and
                        accounting of finished goods, ensuring proper storage as per Company policy;
                        distribution and despatch of finished goods as per the plans issued by the central
                        Distribution team, closely liasing with transporters for requirement of transport for
                        movement of finished goods as well as tracking the movement of the finished goods for
                        timely delivery.

                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
</div>



<div class="modal fade Modal-Popup" id="HumanResources" tabindex="-1" role="dialog"
aria-labelledby="HumanResourcesLongTitle" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Human Resources</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body">
            <div class="">
                <div class="data-content">
                    <p>The Role Involves: Identifying the needs of the business and finding the right people,
                        yearly appraisals, career planning, induction and training, recruitment and termination,
                        negotiations with unions, giving feedback to senior management.</p>
                    <p>A good understanding of behavioural science, motivation, appraisals, labour laws and
                        recruitment is required.

                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
</div>


<div class="modal fade Modal-Popup" id="ITProgrammers" tabindex="-1" role="dialog"
aria-labelledby="ITProgrammersLongTitle" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">IT Programmers</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body">
            <div class="">
                <div class="data-content">
                    <p>Good practical knowledge of one or more of the following needed – C++, C#, SQL, Java,
                        ASP.Net, HTML/CSS, XML, Python, Android, DART, the Apple environment, React Native,
                        Tableau and Power BI. Apply only if you like coding, solving real life problems. The job
                        involves designing reports, designing and implementing automation, and assisting all
                        types of business departments with the needed IT. Data Science & Analytics applied to
                        real consumer and customer data with GIS mapping are also skills we are looking for. In
                        Hawkins the IT Department mostly does not use third party software for ERP, CRM and you
                        can get extensive exposure in developing systems.

                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
</div>


<div class="modal fade Modal-Popup" id="Legal" tabindex="-1" role="dialog" aria-labelledby="LegalLongTitle"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Legal</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body">
            <div class="">
                <div class="data-content">
                    <p>Advise the Company on legal matters, monitor and ensure legal compliances, brief counsel
                        and organise action to avoid or support litigation as needed. Action to protect the
                        intellectual property of the Company such as Trade Mark, Copy Rights, Designs and
                        Patents are important. There are also occasions where action needs to be taken against
                        spurious parts and products. A good understanding of Labour Law – as we run three
                        factories – will be useful. An opportunity to deal with wide ranging facets of law and
                        compliance including Labour law, Company law, Commercial law, Packaged commodities,
                        international contracts, dealing with Government regulations are all part of this job.

                    </p>
                    <p>Company Secretary qualified persons may also apply. </p>
                </div>
            </div>
        </div>

    </div>
</div>
</div>


<div class="modal fade Modal-Popup" id="ExecutiveAssistants" tabindex="-1" role="dialog"
aria-labelledby="ExecutiveAssistantsLongTitle" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Executive Assistants</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <div class="modal-body">
            <div class="">
                <div class="data-content">
                    <p>Bright, computer-literate graduates in any discipline, either freshers or with few years
                        of relevant experience, are needed to work with Senior Managers, providing all-round
                        help in various matters. Will get exposure to multiple facets of the business. Fluency
                        in word-processing and ability to understand instructions and implementation bias is
                        essential. Based upon the interests of the candidates and the requirement of the
                        Company, such assistants may be moved to line management roles in various departments
                        after a couple of years.

                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
</div>