<ngx-search-text></ngx-search-text>
<div class="content pt-5 pb-3">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <h1 class="main-title mb-3">WISHLIST</h1>
                    </div>

                    
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="row">
                    <div class="col-md-12 over-flow-scroll-x-mobile">
                        <table class="table table-bordered table-products">
                            <thead>
                                <tr>
                                    <th><b>Product</b></th>
                                    <th><b>Name</b></th>
                                    <th><b>Quantity</b></th>
                                    <th><b>MRP/Unit</b></th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="relative">
                                        <img src="https://gifting.hawkins.in/attachments/shop_images/B0B6RG11QY_MAIN2.jpg"
                                            alt="" style="width:100px">
                                    </td>
                                    <td style="max-width: 18vw;white-space: break-spaces;overflow: hidden;"><a
                                            href="https://gifting.hawkins.in/Hawkins_Futura_DeepFry_Pan_Kadhai_Litre_Nonstick_NBFP_554" class="btn-link-list-page">Hawkins Futura Deep-Fry Pan / Kadhai 0.9 Litre, Nonstick (NBFP09)</a></td>
                                    <td>
                                        <input id="update_cart_product_554" type="number" class="text-cnter ps-select form-control"
                                            style="width: 100px;" name="product_quantity" value="1"
                                            onfocusout="manageShoppingCart('update','554',true);">
                                    </td>
                                    <td>1,010.00₹</td>
    
                                    <td><a href="https://gifting.hawkins.in/home/removeFromCart?delete-product=554&amp;back-to=shopping-cart"
                                            class="btn btn-xs btn-danger btn-sm">
                                            <i aria-hidden="true" class="fa fa-close"></i>
                                        </a></td>
                                </tr>
                                <tr>
                                    <td class="relative">
                                       <img src="https://gifting.hawkins.in/attachments/shop_images/B0BSBT7287_MAIN.jpg"
                                            alt="" style="width:100px">
                                    </td>
                                    <td style="max-width: 18vw;white-space: break-spaces;overflow: hidden;"><a
                                            href="https://gifting.hawkins.in/Hawkins_Litre_Mini_Casserole_with_Glass_Lid_Round_Series_Yellow_MCRY_578" class="btn-link-list-page">Hawkins 0.75 Litre Mini Casserole with Glass Lid, Round Series, Yellow (MCRY75)</a></td>
                                    <td>
                                        <input id="update_cart_product_578" type="number" class="text-cnter ps-select form-control"
                                            style="width: 100px;" name="product_quantity" value="1"
                                            onfocusout="manageShoppingCart('update','578',true);">
                                    </td>
                                    <td>875.00₹</td>
                                    <!--<td>875.00₹</td>-->
                                    <td><a href="https://gifting.hawkins.in/home/removeFromCart?delete-product=578&amp;back-to=shopping-cart"
                                            class="btn btn-xs btn-danger btn-sm">
                                            <i aria-hidden="true" class="fa fa-close"></i>
                                        </a></td>
                                </tr>
                                <tr>
                                    <td class="relative">
                                        <img src="https://gifting.hawkins.in/attachments/shop_images/B0BVYTJTWM_MAIN.jpg"
                                            alt="" style="width:100px">
                                    </td>
                                    <td style="max-width: 18vw;white-space: break-spaces;overflow: hidden;"><a
                                            href="https://gifting.hawkins.in/Hawkins_Litre_Mini_Casserole_with_Glass_Lid_Square_Series_Grey_MCSG_579" class="btn-link-list-page">Hawkins 0.75 Litre Mini Casserole with Glass Lid, Square Series, Grey (MCSG75)</a></td>
                                    <td>
                                        <input id="update_cart_product_579" type="number" class="text-cnter ps-select form-control"
                                            style="width: 100px;" name="product_quantity" value="3"
                                            onfocusout="manageShoppingCart('update','579',true);">
                                    </td>
                                    <td>875.00₹</td>
                                    <td><a href="https://gifting.hawkins.in/home/removeFromCart?delete-product=579&amp;back-to=shopping-cart"
                                            class="btn btn-xs btn-danger btn-sm">
                                            <i aria-hidden="true" class="fa fa-close"></i>
                                        </a></td>
                                </tr>
    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                    <div class="row">
                       
                        
                        <div class="col-md-12">
                            <div class="mb-3">
                                <a href="product-list" class="me-3 border-0 float-start btn-slide text-center text-black width-auto ps-3 pe-3 pt-2 width-auto pe-3 pt-2">
                                    <span class="glyphicon glyphicon-circle-arrow-left"></span>
                                    BACK TO PRODUCTS
                                </a>
                                <a class="border-0 float-start btn-slide text-center text-black width-auto ps-3 pe-3 pt-2 width-auto pe-3 pt-2" href="request-for-quote">
                                    GET A QUOTE
                                </a>
                               
                            </div>
                        </div>
                    </div>
                
            </div>

        </div>
    </div>
</div>


