<ngx-search-text></ngx-search-text>     
<div class="content pt-5 pb-3">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-12">
                <h1 class="main-title mb-4">ENQUIRY</h1>
            </div>
        </div>

        <div class="row d-flex align-items-center">   
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                <div class="mb-4">
                    <label>Name <sub>*</sub></label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Enter name" required="required">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                <div class="mb-4">
                    <label>Email <sub>*</sub></label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="Enter email" required="required">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                <div class="mb-4">
                    <label>Mobile No <sub>*</sub></label>
                    <input type="number" name="mobile" class="form-control" id="mobile" placeholder="Enter mobile" required="required">
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="mb-4">
                    <label>Message <sub>*</sub></label>
                    <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required" placeholder="Please give details of budget, how many units needed, date of supply and location of supply."></textarea>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 ">
                <div class="form-check ps-0 mb-4">
                    <label class="form-check-label" for="exampleCheck1">Preferred mode of communication Checkbox options as follows</label>
                </div>
                <div class="mb-4 ps-4"> 
                    <input type="checkbox" name="whatsapp_consent" class="form-check-input" id="exampleCheck1">&nbsp;
                    <label class="form-check-label" style="padding-right:30px;" for="exampleCheck1">WhatsApp</label>
                    <input type="checkbox" name="sms_consent" class="form-check-input" id="exampleCheck2">&nbsp;
                    <label class="form-check-label" style="padding-right:30px;" for="exampleCheck2">SMS</label>
                    <input type="checkbox" name="email_consent" class="form-check-input" id="exampleCheck3">&nbsp;
                    <label class="form-check-label" style="padding-right:30px;" for="exampleCheck3">Email</label>
                    <input type="checkbox" name="phone_call_consent" class="form-check-input" id="exampleCheck4">&nbsp;
                    <label class="form-check-label" style="padding-right:30px;" for="exampleCheck4">Phone Call</label>
                </div>

                <div class="mb-3">
                    <button type="submit" class="border-0 float-start btn-slide text-center text-black width-auto ps-3 pe-3 pt-2 width-auto pe-3 pt-2" id="btnContactUs">
                        SEND ENQUIRY</button>
                </div>
            </div>
        </div>
        
    </div>
</div>



