<ngx-search-text></ngx-search-text>
<div class="content pt-5 pb-3 about-main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <ul class="list-group">
                        <li class="list-group-item bg-light1">
                            <b>IN THIS SECTION </b>
                        </li>
                        <li class="list-group-item" aria-current="true"><a routerLink="/about"
                                class="text-dark text-decoration-none">About the Company</a> </li>
                        <li class="list-group-item"><a routerLink="/in-the-beginning"
                                class="text-dark text-decoration-none">In the Beginning</a></li>
                        <li class="list-group-item"><a routerLink="/growth-expansion"
                                class="text-dark text-decoration-none">Growth &amp; Expansion</a></li>
                        <li class="list-group-item"><a routerLink="/our-mission"
                                class="text-dark text-decoration-none">Our Mission</a></li>
                        <li class="list-group-item"><a routerLink="/contact-details"
                                class="text-dark text-decoration-none">Contact Details for Investors</a></li>
                        <li class="list-group-item"><a routerLink="/financial-results"
                                class="text-dark text-decoration-none">Financial Results</a></li>
                        <li class="list-group-item"><a routerLink="/shareholding-information"
                                class="text-dark text-decoration-none">Shareholding
                                Information</a></li>
                        <li class="list-group-item"><a routerLink="/other-information"
                                class="text-dark text-decoration-none">Other Information</a></li>
                        <li class="list-group-item"><a routerLink="/corporate-governance"
                                class="text-dark text-decoration-none">Code of Conduct of Board of Directors and
                                Senior Management
                                Personnel</a></li>
                        <li class="list-group-item"><a routerLink="/vigil-mechanism"
                                class="text-dark text-decoration-none">Vigil Mechanism</a></li>
                        <li class="list-group-item"><a routerLink="/agm" class="text-dark text-decoration-none">AGM</a>
                        </li>
                        <li class="list-group-item"><a routerLink="/annual-reports"
                                class="text-dark text-decoration-none">Annual Reports &amp; Chairman's Speech
                                at AGM</a></li>
                    </ul>
                </div>

            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <h1 class="main-title">ANNUAL REPORT 20010: EXCERPTS</h1>
                    </div>
                    <div class="col-md-12">
                        <div> 
                            <img src="assets/images/ar0910_pg1.jpg" width="600" height="775" class="Mobile-img-fluid">
                        </div>
                        <div class="pt-3">
                            <img src="assets/images/ar0910_pg2.jpg" width="600" height="779" class="Mobile-img-fluid">
                        </div>

                        <div class="pt-3">
                            <img src="assets/images/ar0910_pg3.jpg" width="600" height="775" class="Mobile-img-fluid">
                        </div>
                        <div class="pt-3">
                            <img src="assets/images/ar0910_pg4.jpg" width="600" height="776" class="Mobile-img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>