<ngx-search-text></ngx-search-text>
<div class="content pt-5 pb-3 about-main">
	<div class="container">
		<div class="row">
            <div class="col-md-12">
                <div class="col-m-12 mb-3">
                    <h1 class="main-title">SHAREHOLDING OFFERS</h1>
                </div>
				<div class="row">
					<ul class="list-group">
						<!-- <li class="list-group-item bg-light1">
							<b>IN THIS SECTION </b>
						</li> -->
                        <li class="list-group-item active"><a routerLink="/shareholder-offer" class="text-dark text-decoration-none">Shareholding Offers</a></li>
                        <li class="list-group-item"><a routerLink="/corporate-governance" class="text-dark text-decoration-none">Code of Conduct of Board of Directors and
                            Senior Management
                            Personnel</a></li>
						<li class="list-group-item"><a routerLink="/contact-details" class="text-dark text-decoration-none">Contact Details for Investors</a></li>
						<li class="list-group-item"><a routerLink="/financial-results" class="text-dark text-decoration-none">Financial Results</a></li>
						<li class="list-group-item"><a routerLink="/shareholding-information" class="text-dark text-decoration-none">Shareholding
								Information</a></li>
						<li class="list-group-item"><a routerLink="/other-information" class="text-dark text-decoration-none">Other Information</a></li>
						
						<li class="list-group-item"><a routerLink="/vigil-mechanism" class="text-dark text-decoration-none">Vigil Mechanism</a></li>
						<li class="list-group-item"><a routerLink="/agm" class="text-dark text-decoration-none">AGM</a></li>
						<li class="list-group-item"><a routerLink="/annual-reports" class="text-dark text-decoration-none">Annual Reports &amp; Chairman's Speech
								at AGM</a></li>
					</ul>
				</div>
				
			</div>

			<div class="col-md-12">
				<div class="row">
					
					<div>
						<div>                    
                            Dear Shareholders,<br>
                            <p>You may have already received our Chairman &amp; CEO's letter dated  July 14, 2023 
                                explaining the 20% discount offer and discount coupons. Please click <a href="#letter">here</a> 
                                to see a copy of the Chairman &amp; CEO's letter. Please click <a href="download/2023_shareholder_pricelist.pdf">here</a>  to download the pricelist of all products, on which the 20% offer is applicable.
        
                            </p>
                             <p>Please visit the Redemption Centre of your choice to avail the offer from July 15 to December 31, 2023.
                            </p>
                            <p>For any help please contact the Company Secretary, Hawkins Cookers Limited, 
                                at the address given below, or email us at conserve@hawkinscookers.com
                            </p>
                        </div>

                        <div class="text-center mt-3">
                            Maker Tower F101, Cuffe Parade, P.O. Box 16083, Mumbai 400 005 India <br>
                            Phones (91 22) 22186607, 22181605 &nbsp;&nbsp; Fax (91 22) 22181190 &nbsp;&nbsp; www.hawkinscookers.com
                        </div>

                        <div class="text-center mt-3">
                            <img src="assets/images/Redemtion_Center_2023.jpg" class="img-fluid">
                        </div>

                        <div class="text-center mt-3">
                            <img src="assets/images/main_2023_1.jpg" class="img-fluid">
                        </div>
                        
					</div>
				</div>


				
			</div>
		</div>

		
	</div>
</div>

