<div class="footer-main">
<div class="bg-warning1 pt-4">
	<div class="container">
		<div class="row">
	<div class="col-12 col-md-8 mobile-view1">
		<div class="row pt-3 pb-3">
			<div class="col-12 col-md-6 text-start mobile-view1">
				<div class="btn-link2 line-height1">
					<h1 class="main-title">SUBSCRIBE</h1>
					<div class="mt-0 small-font1 line-height3 text-white">( For updates on new product, recipes, offers, jobs etc.)</div>
				</div>
			</div>
			<div class="col-12 col-md-6 mt-1 mobile-view1">
				<div>
				<input type="search" placeholder="EMAIL ADDRESS" class="form-control text-control2">
				<a href="#" class="btn-slide-banner btn-slide-banner-pos"><b>SUBMIT</b></a>
				</div>
			</div>
		</div>
	</div>
	<div class="menubar1 col-md-4 col-12 mt-top20 mobile-view order-md-1 order-0">
		<div class="text-white">
			<div class="row">
				<div class="col-6 p-3 mobile-view-ps-0">
					<h1 class="main-title">FOLLOW US ON </h1>
				</div>
				<div class="col-2 p-3">
					<a href="" class=""><img src="../../../assets/images/ecommerce/insta.svg" class="img-fluid" style="filter: brightness(0) invert(1);"></a>
				</div>
				<div class="col-2 p-3">
					<a href=""><img src="../../../assets/images/ecommerce/facebook.svg" class="img-fluid" style="filter: brightness(0) invert(1);"></a>
				</div>
				<div class="col-2 p-3">
					<a href=""><img src="../../../assets/images/ecommerce/tiwter.svg" class="img-fluid" style="filter: brightness(0) invert(1);"></a>
				</div>
			</div>
		</div>
	</div>
</div>
	</div>
</div>
<div class="footer-middle">
	<div class="container">
		<div class="row">
		<div class="panel10 mt-2 col-12 col-md-3 mobile-view">
			<div class="title-bar ">
				<h1 class="main-title">HELP</h1>
			</div>
			  
		<div class="menubar1 mt-3">
			<div class="">
				<div class="row">
					<div class="col-12 p-3 border-top">
						<a href="#" class="btn-link1">DO IT YOURSELF <span class="float-end"><img src="../../../assets/images/ecommerce/arrow-r.png" class="img-fluid icon-list-1"></span></a>
					</div>
					<div class="col-12 p-3 border-top">
						<a href="#" class="btn-link1">CARE & CLEANING <span class="float-end"><img src="../../../assets/images/ecommerce/arrow-r.png" class="img-fluid icon-list-1"></span></a>
					</div>
					<div class="col-12 p-3 border-top">
						<a href="#" class="btn-link1">SHIPPING <span class="float-end"><img src="../../../assets/images/ecommerce/arrow-r.png" class="img-fluid icon-list-1"></span></a>
					</div>
					<div class="col-12 p-3 border-top">
						<a href="#" class="btn-link1">RETURN <span class="float-end"><img src="../../../assets/images/ecommerce/arrow-r.png" class="img-fluid icon-list-1"></span></a>
					</div>
					<div class="col-12 p-3 border-top">
						<a href="#" class="btn-link1">FAQ <span class="float-end"><img src="../../../assets/images/ecommerce/arrow-r.png" class="img-fluid icon-list-1"></span></a>
					</div>
					<div class="col-12 p-3 border-top">
						<a href="#" class="btn-link1">BOOK A DEMO <span class="float-end"><img src="../../../assets/images/ecommerce/arrow-r.png" class="img-fluid icon-list-1"></span></a>
					</div>
				</div>
			</div>
		</div>
		</div>
		
		<div class="panel10 col-12 col-md-3 deskttop-boder-left deskttop-boder-right mobile-view">
		 <div class="title-bar">
			<h1 class="main-title">LEGAL</h1>
		</div>
			  
		<div class="menubar1 mt-3">
			<div class="">
				<div class="row">
					<div class="col-12 p-3 border-top">
						<a href="#" class="btn-link1">LEGAL <span class="float-end"><img src="../../../assets/images/ecommerce/arrow-r.png" class="img-fluid icon-list-1"></span></a>
					</div>
					<div class="col-12 p-3 border-top">
						<a href="#" class="btn-link1">PRIVACY <span class="float-end"><img src="../../../assets/images/ecommerce/arrow-r.png" class="img-fluid icon-list-1"></span></a>
					</div>
					<div class="col-12 p-3 border-top">
						<a href="#" class="btn-link1">COOKIES <span class="float-end"><img src="../../../assets/images/ecommerce/arrow-r.png" class="img-fluid icon-list-1"></span></a>
					</div>
				</div>
			</div>
		</div>
		</div>
		
		
		
		<div class="panel10 col-12 col-md-3 deskttop-boder-left deskttop-boder-right mobile-view">
			<div class="title-bar">
				<h1 class="main-title">CONTACT</h1>
			</div>
		<div class="menubar1 mt-3">
			<div class="">
				<div class="row">
					<div class="col-12 p-3 border-top">
						<a href="#" class="btn-link1">CONSUMER <span class="float-end"><img src="../../../assets/images/ecommerce/arrow-r.png" class="img-fluid icon-list-1"></span></a>
					</div>
					<div class="col-12 p-3 border-top">
						<a href="#" class="btn-link1">TRADE <span class="float-end"><img src="../../../assets/images/ecommerce/arrow-r.png" class="img-fluid icon-list-1"></span></a>
					</div>
					<div class="col-12 p-3 border-top">
						<a href="#" class="btn-link1">GIFTING <span class="float-end"><img src="../../../assets/images/ecommerce/arrow-r.png" class="img-fluid icon-list-1"></span></a>
					</div>
					<div class="col-12 p-3 border-top">
						<a href="#" class="btn-link1">BULK PURCHASE <span class="float-end"><img src="../../../assets/images/ecommerce/arrow-r.png" class="img-fluid icon-list-1"></span></a>
					</div>
					<div class="col-12 p-3 border-top">
						<a href="#" class="btn-link1">OTHERS <span class="float-end"><img src="../../../assets/images/ecommerce/arrow-r.png" class="img-fluid icon-list-1"></span></a>
					</div>
				</div>
			</div>
		</div>
		</div>


		<div class="panel10 col-12 col-md-3 mobile-view">
			<div class="title-bar">
				<h1 class="main-title">REQUEST DEMO</h1>
			</div>
		<div class="menubar1 mt-3">
			<div class="">
				<div class="row">
					<div class="col-md-12 col-12 p-2">
						<Label class="text-white">NAME</Label>
						<input type="text" class="form-control">
					</div>
					<div class="col-md-12 col-12 p-2">
						<Label class="text-white">PHONE NO.</Label>
						<input type="text" class="form-control">
					</div>
					<div class="col-md-12 col-12 p-2">
						<Label class="text-white">EMAIL ID</Label>
						<input type="text" class="form-control">
					</div>
					<div class="col-md-12 col-12 p-2">
						<button class="border-0 btn-slide float-start text-center text-black width-auto ps-4 pe-4 pt-2 pb-2">SUBMIT</button>
					</div>
					
				</div>
			</div>
		</div>
		</div>

	</div>
</div>
</div>
<div class="conten-slder mt-1 footer-bottom">
<div class="footer pt-4 pb-3">
	<div class="col-10 mx-auto copy-right text-center">
		<p>© All rights reserved by Hawkins Cookers Limited</p>
	</div>
</div>
</div>
</div>

