#overlay{
  position: fixed;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9;
}

// .spinner-background{
//     display:block;
//     position:fixed;
//     z-index: 1;
//     width:480px;
//     height:100%;
//     background-color: #fff;
//   }
.loading-spinner {
    position: fixed;
    left: 50%;
    transform: translate(-50%,-50%) translateZ(0);
    top: 50%;
    width: 90px;
    height: 90px;
    //z-index: 1;
    background: url(../../../../assets/images/ecommerce/hawkins-logo.png) center no-repeat;
    background-size: contain;
	  /*animation: spinning 1.5s infinite ease-in-out;*/
}

.loading-spinner:after {
	content:"";
	position:absolute;
	width:120px;
	height:120px;
	background-color:rgba(0,0,0,0);
	border-radius:100%;
	margin:-15px;
	box-shadow: 0 4px 0 0 #e41d36;
	transition: all 1s linear;
	animation: lds-eclipse 1s linear infinite;
}



@keyframes spinning {
	0% { transform: translate(-50%,-50%) scale(1) translateZ(0);}
	50% { transform: translate(-50%,-50%) scale(1.1) translateZ(0);}
	100% { transform: translate(-50%,-50%) scale(1) translateZ(0);}
}

@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}