<div class="row">
    <div class="col-md-12">
      <h1>Country</h1>

      <div class="row">
        <div class="col-md-12">
          <nb-card>
            <nb-card-header>Add new country</nb-card-header>
            <nb-card-body>
              <form [formGroup]="countryMstForm" (ngSubmit)="onSave()">
                <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="name" class="label">Name</label>
                    <input type="text" nbInput fullWidth formControlName="name">
                    <span *ngIf="submitted && f.name.errors?.required" style="display: block;" class="invalid-feedback">Name is required</span>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="description" class="label">Two Letter ISO Code</label>
                    <input type="textarea" nbInput fullWidth formControlName="twoLetterIsoCode">
                    <span *ngIf="submitted && f.twoLetterIsoCode.errors?.required" style="display: block;" class="invalid-feedback">Two Letter IsoCode required</span>
                  </div>
                </div>
                <div class="col-md-2">
                
                <div class="form-group">
                  <label for="curency" class="label">Currency</label>
                    <input type="textarea" nbInput fullWidth formControlName="currency">
                    <span *ngIf="submitted && f.currency.errors?.required" style="display: block;" class="invalid-feedback">Currency required</span>
                </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="symbol" class="label">Symbol</label>
                      <input type="textarea" nbInput fullWidth formControlName="symbol">
                      <span *ngIf="submitted && f.symbol.errors?.required" style="display: block;" class="invalid-feedback">Symbol required</span>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="displayOrder" class="label">Display Order</label>
                      <input type="textarea" nbInput fullWidth formControlName="displayOrder">
                  </div>
                </div>
                  </div>
                <button type="submit" nbButton status="success">{{buttontext}}</button>
                <button type="button" class="ml-2" nbButton status="primary" (click)="onClear()">Clear</button>
              </form>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-md-12">
      <nb-card style="margin-top: 10px">
        <nb-card-header>
          View Country
        </nb-card-header>
      
        <nb-card-body>
          <div class="row">
            <div class="col-md-12">
          <ng2-smart-table [settings]="cussettings" [source]="cussource" (custom)="onCustomAction($event)" (deleteConfirm)="onDeleteConfirm($event)">
          </ng2-smart-table>
        </div>
        </div>

        </nb-card-body>
      </nb-card>
    </div>
      
    </div>
  </div>