<ngx-search-text></ngx-search-text>
<div class="content pt-5 pb-3 sale-service-main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <ul class="list-group">
                        <li class="list-group-item" aria-current="true"><a routerLink="/sales-service"
                                class="text-dark text-decoration-none">Sales and Service</a> </li>
                        <li class="list-group-item active"><a routerLink="/product-part"
                                class="text-dark text-decoration-none">Product Parts</a></li>
                        <li class="list-group-item"><a routerLink="/authorised-dealers"
                                class="text-dark text-decoration-none">Sales and Service: India, Nepal, Bhutan</a></li>
                        <li class="list-group-item"><a routerLink="/rest-world"
                                class="text-dark text-decoration-none">Rest of the World</a></li>
                        <li class="list-group-item"><a routerLink="/yourself-repairs"
                                class="text-dark text-decoration-none">Do-it-Yourself Repairs</a></li>
                    </ul>
                </div>

            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <h1 class="main-title">PRODUCT PARTS</h1>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 col-6">
                                <input id="rdbexpflg_0" type="radio" name="rdbexpflg" value="D" checked="checked"><label
                                    for="rdbexpflg_0"> <strong>India, Nepal and Bhutan</strong></label>
                            </div>
                            <div class="col-md-8 col-6"><input id="rdbexpflg_1" type="radio" name="rdbexpflg" value="E"><label
                                    for="rdbexpflg_1"> <strong>Rest of the world</strong></label></div>
                            <div class="col-md-12 pt-3">
                                <p><strong>Please choose your pressure cooker brand/model alongisde</strong></p>
                                <div class="row">
                                    <div class="col-md-6 p-0">
                                        <select name="ddnlstbrand" id="ddnlstbrand" class="form-control select-control bg-grey1" style="background-size: 4%;">
                                            <option value="1">Hawkins Classic</option>
                                            <option value="2">Hawkins Contura</option>
                                            <option value="3">Hawkins Contura Black</option>
                                            <option value="4">Hawkins Ekobase/ Hevibase</option>
                                            <option value="5">Hawkins Ventura</option>
                                            <option value="6">Hawkins Stainless Steel</option>
                                            <option value="7">Hawkins Bigboy</option>
                                            <option value="8">Futura Cooker</option>
                                            <option value="9">Futura Stainless Steel Cooker</option>
                                            <option value="10">Miss Mary</option>
                                            <option value="11">Futura Nonstick Curry Pan</option>
                                            <option value="12">Futura Nonstick Deep-fry Pan (Flat Bottom)</option>
                                            <option value="13">Futura Nonstick Frying Pan</option>
                                            <option value="14">Futura Nonstick Frying Pna (Rounded Sides)</option>
                                            <option value="15">Futura Nonstick Deep-fry Pan (Round Bottom)</option>
                                            <option value="16">Futura Nonstick Saucepan</option>
                                            <option value="17">Futura Nonstick All-Purpose Pan</option>
                                            <option value="18">Futura Nonstick Stewpot</option>
                                            <option value="19">Futura Hard Anodised Stewpot</option>
                                            <option value="20">Futura Nonstick Breakfast Pan</option>
                                            <option value="21">Futura Hard Anodised Deep-fry Pan (Flat Bottom)</option>
                                            <option value="22">Futura Hard Anodised Handi Saucepan</option>
                                            <option value="23">Futura Hard Anodised Frying Pan</option>
                                            <option value="24">Hawkins Contura Black XT</option>
                                            <option value="25">Futura Nonstick Cook n Serve Bowl</option>
                                            <option value="26">Futura Hard Anodised Saucepan</option>
                                            <option value="27">Futura Hard Anodised Cook n Serve Bowl</option>
                                            <option value="28">Futura Nonstick Induction Wok</option>
                                            <option value="29">Hawkins Stainless Steel TPan</option>
                                            <option value="30">Futura Hard Anodised Fish-Fry Kadhai</option>
                                            <option value="31">Hawkins SS Contura</option>
                                            <option value="32">Hawkins Ceramic Contura</option>
                                            <option value="33">Futura Hard Anodised Deep-fry Pan (Round Bottom)</option>
                                            <option value="34">Futura Hard Anodised Tava</option>
                                            <option value="35">Futura Hard Anodised Flat Tava</option>
                                            <option value="36">Futura Nonstick Flat Tava</option>
                                            <option value="37">Futura Nonstick Dosa Tava</option>
        
                                        </select>
                                    </div>
                                    <div class="col-md-6 text-start">
                                        <input type="submit" name="Button1" value="Select" id="Button1">
                                    </div>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 pt-3">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <p><strong>Or select it by clicking on any of the pressure cooker pictures
                                        below:</strong></p>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-md-4">
                                <!-- <a href="4.2.parts_and_service.asp?brand_id=1"><img src="1.1.pressurecooker_pix/classic.jpg" title="Hawkins Classic Pressure Cooker" class="img_margins"/></a>  -->
                                <img src="assets/images/classic.jpg" class="img-fluid">

                                <div class="text-center">
                                    <b>Hawkins Classic model</b>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- <a href="4.2.parts_and_service.asp?brand_id=8"><img src="1.1.pressurecooker_pix/Futura.jpg" title="Futura Hard Anodised Pressure Cooker" class="img_margins"/></a>  -->
                                <img src="assets/images/Futura.jpg" class="img-fluid">

                                <div class="text-center">
                                    <b>Futura Pressure Cooker</b>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- <a href="4.2.parts_and_service.asp?brand_id=9"><img src="1.1.pressurecooker_pix/SS_Futura.jpg" title="Futura Stainless Steel Pressure Cooker" class="img_margins"></a> </p>  -->
                                <img src="assets/images/SS_Futura.jpg" class="img-fluid">

                                <div class="text-center">
                                    <b>Futura in Stainless Steel</b>
                                </div>
                            </div>
                        </div>

                        <div class="row pt-3">
                            <div class="col-md-4">
                                <!-- <a href="4.2.parts_and_service.asp?brand_id=2"><img src="1.1.pressurecooker_pix/Contura.jpg" title="Hawkins Contura Pressure Cooker" class="img_margins"></a>  -->
                               <a routerLink=""> <img src="assets/images/Contura.jpg" class="img-fluid"></a>

                                <div class="text-center">
                                    <b>Hawkins Contura model</b>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- <a href="4.2.parts_and_service.asp?brand_id=3"><img src="1.1.pressurecooker_pix/Contura_HA.jpg" title="Hawkins Contura Hard Anodised Pressure Cooker" class="img_margins" style="height:160px"></a>  -->
                                <a routerLink=""><img src="assets/images/Contura_HA.jpg" class="img-fluid"></a>

                                <div class="text-center">
                                    <b>Hawkins Contura model</b>
                                    <b>Hard Anodised Body &amp; Stainless Steel Lid</b>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- <a href="4.2.parts_and_service.asp?brand_id=4"><img src="1.1.pressurecooker_pix/Ekobase.jpg" title="Hawkins Ekobase Pressure Cooker" class="img_margins"></a>  -->
                                <a routerLink=""><img src="assets/images/Ekobase.jpg" class="img-fluid"></a>

                                <div class="text-center">
                                    <b>Hawkins Ekobase model</b>
                                </div>
                            </div>
                        </div>

                        <div class="row pt-3">
                            <div class="col-md-4">
                                <!-- <a href="4.2.parts_and_service.asp?brand_id=5"><img src="1.1.pressurecooker_pix/Ventura.jpg" title="Hawkins Ventura Pressure Cooker" class="img_margins"></a> </p>  -->
                                <a routerLink=""><img src="assets/images/Ventura.jpg" class="img-fluid"></a>

                                <div class="text-center">
                                    <b>Hawkins Ventura model</b>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- <a href="4.2.parts_and_service.asp?brand_id=6"><img src="1.1.pressurecooker_pix/SS_Hawkins.jpg" title="Hawkins Stainless Steel Pressure Cooker" class="img_margins"></a>  -->
                                <a routerLink=""><img src="assets/images/ss_hawkins.jpg" class="img-fluid"></a>

                                <div class="text-center">
                                    <b>Hawkins Stainless Steel model</b>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- <a href="4.2.parts_and_service.asp?brand_id=7"><img  src="1.1.pressurecooker_pix/Bigboy.jpg" title="Hawkins Bigboy Pressure Cooker" class="img_margins"></a>  -->
                                <a routerLink=""><img src="assets/images/bigboy.jpg" class="img-fluid"></a>

                                <div class="text-center">
                                    <b>Hawkins Bigboy model</b>
                                </div>
                            </div>
                        </div>

                        <div class="row pt-3">

                            <div class="col-md-4 mx-auto">
                                <!-- <a href="4.2.parts_and_service.asp?brand_id=10"><img src="1.1.pressurecooker_pix/Miss_Mary.jpg" title="Miss Mary Pressure Cooker" class="img_margins"></a>  -->

                                <a routerLink=""> <img src="assets/images/Miss_Mary.jpg" class="img-fluid"></a>

                                <div class="text-center">
                                    <b>Miss Mary model</b>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>