<ngx-search-text></ngx-search-text>     
<div class="content pt-5 pb-3">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-12">
                <h1 class="main-title mb-3">TERMS OF SALE PAYMENT</h1>
                <ul class="list-style">
                    <li>Samples can be provided on returnable basis, free of cost depending on your specific requirements against a deposit.</li> 
                    <li>Any order placed by you on this website is an offer by you to purchase a particular product or products in this website at the time you place your order on these terms and conditions. Hawkins Cookers Limited has the right to accept and reject your offer in either whole or part for any reason. Your contract with Hawkins Cookers Limited becomes legally bound when it forwards confirmation of receipt of your order and payment. Hawkins Cookers Limited products are subject to availability.</li> 
                    <li>Prices displayed are inclusive of taxes.</li> 
                    <li>All currency and pricing is in Indian Rupee (INR) inclusive of Taxes and delivery in India.</li> 
                    <li>In the event of a product or service is mistakenly listed at an incorrect price or unavailability of that product, Hawkins Cookers Limited reserves the right to refuse or cancel any such orders. Hawkins Cookers Limited without notice reserves the right to refuse or cancel any such orders whether or not the order has been confirmed.</li> 
                    <li>The orders will be executed strictly against 100% advance payment.</li> 
                    <li>The minimum estimated delivery time is 1 day and will vary based on your specific requirements.</li>  
                </ul>
            </div>

        </div>
    </div>
</div>

