<form [formGroup]="recMstForm" (ngSubmit)="onSave()">
    <nb-card>
      <nb-card-header>
        Add Recipe
        <button type="submit" nbButton status="success" size="small" style="float:right">Save</button>
      </nb-card-header>
    </nb-card>
    <div class="row">
      <div class="col-md-8">
        
      <nb-card >
        <nb-card-body>
            <div class="form-group">
              <label for="productName" class="label">Recipe Name</label>
              <input type="text" nbInput fullWidth formControlName="title">
              <span *ngIf="submitted && f.title.errors?.required" style="display: block;" class="invalid-feedback">Name is required</span>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="label">Recipe Subtitle</label>
              <!-- <ngx-tiny-mce></ngx-tiny-mce> -->
              <input type="text" nbInput fullWidth formControlName="subtitle">
            </div>
            <div class="form-group">
                <label for="productName" class="label">Total Time</label>
                <input type="text" nbInput fullWidth  formControlName="cookingTime" placeholder="In months">
              </div>
              <div class="form-group">
                <label for="productName" class="label">Serves</label>
                <input type="text" nbInput fullWidth formControlName="yield" placeholder="">
              </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="label">Method</label>
                <tinymce formControlName="description" [config]="config"></tinymce>
                <!-- <ngx-tiny-mce formControlName="description"></ngx-tiny-mce> -->
                <!-- <textarea rows="5" formControlName="description" nbInput fullWidth shape="round"  placeholder="Method"></textarea> -->
              </div>
           
        </nb-card-body>
      </nb-card>
      <!-- formArrayName = "featureJson" -->
      <nb-card  class="inline-form-card">
        <nb-card-header>Add Ingredients</nb-card-header>
        <nb-card-body>
          <div class="form-inline">
            <input type="text" formControlName="ingredientsSingle" nbInput fullWidth placeholder="Add Feature Description">
            <button type="button" ghost nbButton status="primary" (click)="addIngredients()"><nb-icon icon="plus-outline"></nb-icon></button>
          </div>
          <!-- *ngFor="let item of featureJson.controls.numbers.controls; let i = index"  -->
          <ng-container formArrayName="ingredientsJsonForm">
            <ng-container *ngFor="let ingredientsForm of ingredientsJson.controls; let i = index">
         
          <div class="form-inline" [formGroupName]="i">
            <input type="text" formControlName="ingredientsValue" nbInput fullWidth>
            <button type="button" ghost nbButton status="danger" (click)="deleteIngrdients(i)"><nb-icon icon="trash-outline"></nb-icon></button>
          </div>
        </ng-container>
          </ng-container>
        </nb-card-body>
      </nb-card>
     
      <nb-card style="margin-top: 10px">
        <nb-card-header>
          Additonal Attributes
        </nb-card-header>
      
        <nb-card-body>
          <div class="row">
            
            <div class="col-sm-12">
              <div class="form-inline">
                <nb-select  #attributeId selected="" formControlName="attributeIdSingle" fullWidth (selectedChange)="fillAttributeValueByAttributeId(attributeId.selected)">
                  <nb-option value="">Select Attibute</nb-option>
                  <nb-option *ngFor="let item of attributeList" [value]="item.id">{{item.name}}</nb-option>
                </nb-select>
                <nb-select selected="" formControlName="attributeValueIdSingle" fullWidth>
                  <nb-option value="">Select Attibute Value</nb-option>
                  <nb-option *ngFor="let item of attributeValueFormList" [value]="item.Id">{{item.ControlValue}}</nb-option>
                </nb-select>
              <button type="button" ghost nbButton status="primary" (click)="addAttributeButton()"><nb-icon icon="plus-outline"></nb-icon></button>
            </div>
            <ng-container formArrayName="attributeForm">
              <ng-container *ngFor="let attribute of attributeForm.controls; let i = index">
           
            <div class="form-inline" [formGroupName]="i">
    
              <nb-select  formControlName="attributeId" fullWidth>
                <nb-option value="">Select Attibute Value</nb-option>
                <nb-option *ngFor="let item of attributeList" [value]="item.id">{{item.name}}</nb-option>
              </nb-select>
              <nb-select  value="" formControlName="attributeValueId" fullWidth>
                <nb-option value="">Select Attibute Value</nb-option>
                <nb-option *ngFor="let item of attributeValueList" [value]="item.Id">{{item.ControlValue}}</nb-option>
              </nb-select>
              <button type="button" ghost nbButton status="danger" (click)="deleteAttribute(i)"><nb-icon icon="trash-outline"></nb-icon></button>
    
            </div>
          </ng-container>
            </ng-container>
    
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    
    </div>
    <div class="col-md-4">
        <nb-card >
            <nb-card-header>
              Media
            </nb-card-header>
            <nb-card-body>       
                <div class="col-md-12">
                  <div class="uploadcontainer" appDnd >
        
                      <input type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event.target.files)" />
                      <img src="assets/img/dnd/ic-upload-file.svg" alt="">
                      <h3>Drag and drop file here</h3>
                      <h3>or</h3>
                      <label for="fileDropRef">Browse for file</label>
                  </div>
              </div>
            </nb-card-body>
        </nb-card>      
    </div>
    </div>
    </form>
    