<ngx-search-text></ngx-search-text>
<div class="content pt-5 pb-3 sale-service-main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <ul class="list-group">
                        <li class="list-group-item" aria-current="true"><a routerLink="/sales-service"
                                class="text-dark text-decoration-none">Sales and Service</a> </li>
                        <li class="list-group-item"><a routerLink="/product-part"
                                class="text-dark text-decoration-none">Product Parts</a></li>
                        <li class="list-group-item"><a routerLink="/authorised-dealers"
                                class="text-dark text-decoration-none">Sales and Service: India, Nepal, Bhutan</a></li>
                        <li class="list-group-item active"><a routerLink="/rest-world"
                                class="text-dark text-decoration-none">Rest of the World</a></li>
                        <li class="list-group-item"><a routerLink="/yourself-repairs"
                                class="text-dark text-decoration-none">Do-it-Yourself Repairs</a></li>
                    </ul>
                </div>

            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <h1 class="main-title">REST OF THE WORLD</h1>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p>In case of any difficulty in obtaining our products, parts or service, please contact:</p>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col-md-12">
                        <p>Please choose your State and Town alongside, and search for your Locality by entering a part of, or the full Locality name. Choose a conveniently located Authorised Dealer or Service Centre from the list which will appear as a result below. Should you not find your town located here and require assistance, please <a routerLink="/contact">contact us.</a></p>
                    </div>
                </div>

                <div class="row pt-3">
                    <div class="col-md-4 col-12">
                        <div>
                            <p><b>Please select your Country</b></p>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div>
                            <select name="comCountry" onchange="javascript:setTimeout('__doPostBack(\'comCountry\',\'\')', 0)" id="comCountry" class="form-control select-control bg-grey1" style="background-size: 4%;">
                                <option selected="selected" value="--SELECT--">--SELECT--</option>
                                <option value="AFG">AFGHANISTAN</option>
                                <option value="AUL">AUSTRALIA</option>
                                <option value="BHN">BAHRAIN</option>
                                <option value="BGL">BANGLADESH</option>
                                <option value="CND">CANADA</option>
                                <option value="GUY">GUYANA</option>
                                <option value="ITL">ITALY</option>
                                <option value="KWT">KUWAIT</option>
                                <option value="MUT">MAURITIUS</option>
                                <option value="NWZ">NEW ZEALAND</option>
                                <option value="PNM">PANAMA</option>
                                <option value="POG">PORTUGAL</option>
                                <option value="QAT">QATAR</option>
                                <option value="REU">REUNION</option>
                                <option value="SUA">SAUDI ARABIA</option>
                                <option value="SGP">SINGAPORE</option>
                                <option value="SPN">SPAIN</option>
                                <option value="TLD">THAILAND</option>
                                <option value="TRI">TRINIDAD</option>
                                <option value="UAE">U.A.E.</option>
                                <option value="UK">U.K.</option>
                                <option value="USA">U.S.A.</option>
                            
                            </select>
                          
                        </div>
                    </div>
                  
                </div>

            </div>
        </div>
    </div>
</div>