.CartContainer{
	background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #1687d933;
    padding: 10px;
}

.Header{
	margin: auto;
	width: 95%;
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Heading{
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #2F3841;
}


// .Cart-Items{
// 	margin: auto;
// 	width: 90%;
// 	height: 30%;
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
// }
.Cart-Items{
	border-radius:5px;
	padding: 5px;
	background-color: #fcfcfc;
	margin: auto;
	margin-top: 10px;
	height: 30%;
	display: flex;
	justify-content: space-between;
}
.image-box{
	// width: 20%;
	text-align: center;
}
.about{
	height: 100%;
	width: 70%;
}
.title{
	padding-top: 10px;
	font-size: 14px;
	font-family: 'Open Sans';
	color: #202020;
}
.subtitle{
	line-height: 10px;
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #909090;
}

.counter{
	width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
	cursor: pointer;
    margin: 1px;
}
.count{
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}

.prices{
	height: 100%;
	text-align: right;
}
.amount{
	padding-top: 20px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #202020;
}
.save{
	padding-top: 5px;
	font-size: 10px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #1687d9;
	cursor: pointer;
}
.remove{
	padding-top: 5px;
	font-size: 10px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
}

.pad{
	margin-top: 5px;
}

// hr{
// 	width: 66%;
// 	float: right;
// 	margin-right: 5%;
// }
.checkout{
	margin-right: 5%;
	width: 28%;
}
.total{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.Subtotal{
	font-size: 22px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #202020;
}
.items{
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #909090;
	line-height: 10px;
}
.total-amount{
	font-size: 36px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
}
.button{
	margin-top: 10px;
	width: 100%;
	height: 40px;
	border: none;
	background:#e41d36;
	// background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #fff;
}
.card {
    margin-bottom: 30px;
    border: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    letter-spacing: .5px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
    box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
}

.card .card-header {
    background-color: #fff;
    border-bottom: none;
    padding: 24px;
    border-bottom: 1px solid #f6f7fb;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}



.card .card-body {
    padding: 30px;
    background-color: transparent;
}

.btn-primary, .btn-primary.disabled, .btn-primary:disabled {
    background-color: #4466f2!important;
    border-color: #4466f2!important;
}

.cart-info.quantity {
    width: 90px;
    border: #ccc 1px solid;
}
.btn-increment-decrement {
    display: inline-block;
    padding: 5px 0px;
    background: #e2e2e2;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
.input-quantity {
    border: 0px;
    width: 30px;
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
.btn-increment-decrement {
    display: inline-block;
    padding: 1px 0px;
    background: #e2e2e2;
    width: 29px;
    text-align: center;
    cursor: pointer;
}
.order-total
{
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-total .label{
	font-size: 18px;
    font-weight: bold;
}
.order-total .value{
	font-size: 18px;
}
.address-card {
    border-radius: 5px;
    padding: 10px 20px;
}

// for check box
.address-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .address-container  .option_item {
    display: block;
    position: relative;
    width: 100%;
  }
  
  .address-container  .option_item .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
  }
  
  .option_item .option_inner {
    width: 100%;
    height: 100%;
    background: #fcfcfc;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    color: #585c68;
    display: block;
    border: 3px solid transparent;
    position: relative;
  }
  
  .option_item .option_inner .icon {
    margin-bottom: 10px;
  }
  
  .option_item .option_inner .icon .fab {
    font-size: 32px;
  }
  
  .option_item .option_inner .name {
    user-select: none;
  }
  

  .option_item .checkbox:checked ~ .option_inner.google {
    border-color: #dd4b39;
    color: #dd4b39;
  }
  
  .option_item .option_inner .tickmark {
    position: absolute;
    top: -1px;
    left: -1px;
    border: 20px solid;
    border-color: #000 transparent transparent #000;
    display: none;
  }
  
  .option_item .option_inner .tickmark:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 15px;
    height: 5px;
    border: 3px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
  }
  
  .option_item .checkbox:checked ~ .option_inner .tickmark {
    display: block;
  }
  
  .option_item .option_inner.google .tickmark {
    border-color: #dd4b39 transparent transparent #dd4b39;
  }
