<ngx-search-text></ngx-search-text>     
<div class="content pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="main-title mb-4">CONTACT US</h1>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row ps-contact__block border rounded-3 ps-4 pe-4 pt-3 pb-3" data-mh="contact-block">
                    <div class="col-md-12">
                        <div>
                            <h5 class="mb-3">YOU MAY CONTACT </h5>
                        </div>
                    </div>
                    <hr>

                    <div class="col-md-4">
                        <div>
                            <h5 class="mb-3">RAKESH KUMAR JHA</h5>
                            <h6><p><i class="fa fa-user"></i> Senior General Manager- Gifting &amp; E-Commerce</h6>
                            <p><i class="fa fa-phone"></i> +91- 9320054480</p>
                            <p><i class="fa fa-envelope-o"></i>
                                <a href="mailto:rakesh.jha@hawkinscookers.com" class="btn-link-list-page">rakesh.jha@hawkinscookers.com</a></p>
                        </div>
                    </div>
                   
                   <div class="col-md-4">
                        <div>
                            <h5 class="mb-3">AJAY SHIRKOT</h5>
                            <h6><i class="fa fa-user"></i> General Manager</h6>
                            <p><i class="fa fa-phone"></i> +91- 99200 69076</p>
                            <p><i class="fa fa-envelope-o"></i>
                                <a href="mailto:ajay.shirkot@hawkinscookers.com" class="btn-link-list-page">ajay.shirkot@hawkinscookers.com</a>
                            </p>
                        </div>
                   </div>
                   
                   <div class="col-md-4">
                        <div>
                            <h5 class="mb-3">FAIZAN YAQUB</h5>
                            <h6><i class="fa fa-user"></i> Manager</h6>
                            <p><i class="fa fa-phone"></i> +91- 95659 33300</p>
                            <p><i class="fa fa-envelope-o"></i>
                                <a href="mailto:rakesh.jha@hawkinscookers.com" class="btn-link-list-page">faizan.yaqub@hawkinscookers.com</a></p>
                        </div>
                   </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pt-4">
                <div class="row ps-contact__block border rounded-3 ps-4 pe-4 pt-3 pb-3" data-mh="office-block">
                    <div>
                        <h5 class="mb-3">REGISTERED OFFICE: </h5>
                    </div>
                    <div>
                        <p><i class="fa fa-map-marker"></i> Hawkins Cookers Limited<br>
                            F 101, Maker Tower
                            Cuffe Parade
                            Mumbai (Bombay) 400 005
                            India.</p>
                        <p><i class="fa fa-phone"></i> +91-22-2218 6607</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pt-4">
                <div class="row ps-contact__block border rounded-3 ps-4 pe-4 pt-3 pb-3" data-mh="office-block">
                    <div>
                        <h5 class="mb-3">MARKETING OFFICE:</h5>
                    </div>
                    <div>
                        <p><i class="fa fa-map-marker"></i> Hawkins Cookers Limited<br>
                            New Udyog Mandir II
                            Pitamber Lane
                            Mahim (West)
                            Mumbai (Bombay) 400 016
                            India.</p>

                        <p><i class="fa fa-phone"></i> +91-22-2444 0807</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>